
 //sass 문법

body {
  background: #bbbbbb;

  div {
    margin: 2rem;
    padding: 1rem;
    border: 1px solid red;
  }
}

//body div {
//  margin: 2rem;
//  padding: 1rem;
//  border: 1px solid red;
//}